<h1>{{pageHeader}}</h1>
<h2>Vehicle Detail:</h2>
<h3>Make: {{vehicle.Make}}</h3>
<h3>Model: {{vehicle.Model}}</h3>
<h3>Mileage: {{vehicle.Mileage}} KMs</h3>
<h3>Colour: {{vehicle.Colour}}</h3>
<h3>Location: {{vehicle.Location}}</h3>
<h3>Value: R{{vehicle.Value}}</h3>

<div class="mt-3">
  <a class="btn btn-primary" href="/vehicles/new">Add New Vehicle</a>
  <a class="btn btn-secondary" href="/vehicles">Back To Vehicles</a>
</div>